* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #F8F8F8;
    margin: 0;
    color: #444;
    font-size: 0;
}

.swal2-popup {
    width: 40em !important;
}

header {
    padding: 30px 70px;
    background-color: #44B;
    color: #FFF;
}

header h1 {
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: -0.05em;
}

header h1 #sub_headline {
    font-size: 0.6em;
    font-style: italic;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.3);
    margin-left: 20px;
    letter-spacing: 0.05em;
}

header p {
    font-size: 16px;
    letter-spacing: -0.03em;
}

#content {
    height: 200px;
    padding: 50px;
}

.section {
    display: inline-block;
    background-color: #FFF;
    min-height: 500px;
    max-height: 500px;
    overflow-y: scroll;
    border-radius: 3px;
    margin: 20px;
    padding: 20px 30px;
    vertical-align: top;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1200px;
    background-color: #FFF;
    outline: 9999px solid rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%);
    padding: 30px 50px;
}

.hidden {
    display: none;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    margin: 15px 0 30px 0;
}

code {
    background-color: #EEE;
    border-radius: 3px;
    padding: 5px 10px;
    letter-spacing: -0.05em;
}

input {
    background-color: #EEE;
    border: none;
    padding: 8px 10px;
    border-radius: 3px;
    width: 300px;
    font-size: 14px;
    margin: 5px;
    transition: background-color 0.2s;
}

input.invalid {
    outline: 2px solid #FF8888;
}

input[type=button] {
    background-color: #44B;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: 190px;
    transition: 0.2s background-color;
}

input[type=number] {
    width: 100px;
}

input[type=button]:hover {
    background-color: #338;
}

table {
    font-family: monospace;
    font-size: 14px;
    margin: 50px 0 20px 0;
    border-collapse: collapse;
    text-align: right;
    border-spacing: 10px;
}

table tr th {
    background-color: #DDD;
}

table tr th,
table tr td {
    padding: 2px 5px;
}

table td input[type=button] {
    font-size: 12px;
    padding: 3px 5px;
    display: inline-block;
    width: auto;
    margin: 0 5px;
}